<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="initial-scale=1">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= content_for?(:title) ? yield_content(:title) : 'Traject' %></title>

    <%= stylesheet_link_tag "normalize", "all" %>


    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png" />
    <link rel="shortcut icon" href="favicon.png" />
    <link rel="icon" type="image/ico" href="favicon.ico" />
  </head>



  <body class="<%= page_classes %>">
    <nav id="myScrollspy" class="navbar transparent navbar-fixed-top">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
              <img src="/images/Traject-logos/traject-icon-square-black-fill.svg" alt="Traject">
            </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="#story">Big Picture</a></li>
              <li><a href="#action">Details</a></li>
              <li><a href="#blog">Articles</a></li>
              <li><a href="#contact">Contact</a></liL>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- <li><a href="https://github.com/ashlynbaum"><i class="fa fa-github-square fa-2x"></i></a></li> -->
                <li><a href="https://twitter.com/Traject_NZ"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                <li><a href="https://www.linkedin.com/company/traject-new-zealand"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

    <!-- Jubotron -->
    <section id="header">
      <div class="jumbotron">
        <div class="textbg">
          <div class="row">
            <div class="logo">
              <object data="images/Traject-logos/traject-logo-wtag-white-01.svg" type="image/svg+xml"></object>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <!-- <h2>Growing the knowledge economy</h2> -->
            </div>
          </div>
        </div>

      </div>
      <div class="row nextbtn">
        <p><a class="btn btn-primary btn-lg" href="#story" role="button"><i class="fa fa-chevron-down fa-3x"></i></a></p>
      </div>
    </section>


    <!-- Traject -->
    <section id="story" class="projects">
      <div class="container-fluid">
        <div class="row heading">
          <h2>Tech Skills Assessment to Gain Residency</h2>
          <div class="underline"></div>
        </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora ipsum vitae officia aliquam veritatis cum qui unde quidem autem, ab, eligendi cumque repellendus laboriosam impedit iste, accusamus delectus amet earum.</p>
          <!-- <div class="underline"></div> -->
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam odit possimus, magni laborum excepturi, ducimus eligendi libero distinctio nisi eos, error esse accusamus, ipsum minima officiis. Porro quae, quam similique.</p>
          <div class="story-cartoon">
            <div class="flat-img">
              <object data="images/traject-color-story/technology.svg" type="image/svg+xml"></object>
              <h3>Migrant</h3>
            </div>
            <div class="arrows"> <i class="fa fa-arrow-right" aria-hidden="true"></i> </div>
            <div class="flat-img network">
              <object data="images/traject-color-story/communication.svg" type="image/svg+xml"></object>
              <h3>Connects with Assessors</h3>
            </div>
            <div class="arrows"> <i class="fa fa-arrow-right" aria-hidden="true"></i> </div>
            <div class="flat-img">
              <object data="images/traject-color-story/computer.svg" type="image/svg+xml"></object>
              <h3>Interviews</h3>
            </div>
            <div class="arrows"> <i class="fa fa-arrow-right" aria-hidden="true"></i> </div>
            <div class="flat-img cert">
              <object data="images/traject-color-story/cert.svg" type="image/svg+xml"></object>
              <h3>To Get Recognition</h3>
            </div>
            <p></p>
            <!-- <object data="images/traject-color-story/summer.svg" type="image/svg+xml"></object> -->
          </div>
      </div>
    </section>

    <section id="action">
      <div id="action-parallax">
        <div class="action-selectors">
          <div class="action migrant hvr-grow hvr-underline-reveal on">
            <!-- <h3>Skilled Individuals</h3> -->
            <div class="action-icon">
              <!-- <i class="fa fa-user" aria-hidden="true"></i> -->
              <object id="migrant-img" data="images/traject-icons/traject-user.svg" type="image/svg+xml"></object>
            </div>
            <h3 class="action-desc">Get Skills Assessed</h3>
          </div>
          <div class="action accredited hvr-grow hvr-underline-reveal">
            <div class="action-icon">
              <!-- <i class="fa fa-university" aria-hidden="true"></i> -->
              <object id="accredited-img" data="images/traject-icons/traject-building.svg" type="image/svg+xml"></object>
            </div>
            <h3 class="action-desc">Become Skill Assessor</h3>
          </div>
        </div>
        <div>
        </div>
        <div class="assessment-panel">
          <div class="migrant-text">
            <div class="title">
              <h2>Migrants</h2>
            </div>
            <div class="content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis sint repellendus aspernatur reprehenderit, ex perspiciatis qui autem beatae in facere mollitia possimus fugiat enim accusamus dolores nulla optio, unde suscipit?</p>
            </div>
          </div>
          <div class="accredited-text">
          <div class="title">
            <h2>Accredited Employers</h2>
          </div>
          <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis sint repellendus aspernatur reprehenderit, ex perspiciatis qui autem beatae in facere mollitia possimus fugiat enim accusamus dolores nulla optio, unde suscipit?</p>
          </div>
          </div>
        </div>
      </div>
    </section>

    <!-- blog -->
    <section id="blog">
      <%= yield %>
    </section>



    <!-- Contact -->
    <section id="contact">
      <div class="container-fluid">
        <div class="row heading">
          <h2>Contact</h2>
          <div class="underline"></div>
        </div>
        <div class="row v-align">
          <div class="col-md-5 col-md-push-6">
            <h3 class="header">Connect:</h3>
            <ul class="list-unstyled">
              <li><i class="fa fa-envelope-o"></i> : <a target="_blank" href="mailto:info@traject.nz"> info@traject.nz</a></li>
            </ul>
            <h3>Co-Founders:</h3>
            <ul class="list-unstyled">
              <li><i class="fa fa-envelope-o"></i> : <a target="_blank" href="mailto:info@traject.nz"> connor@traject.nz</a></li>
              <li><i class="fa fa-envelope-o"></i> : <a target="_blank" href="mailto:info@traject.nz"> ashlyn@traject.nz</a></li>
            </ul>
            <h3 class="header"> Location:</h3>
            <ul class="list-unstyled">
              <li>Wellington, New Zealand</li>
            </ul>
          </div>
          <div class="col-md-4 col-md-offset-2 col-md-pull-5">
              <img src="/images/traject-logo-01-01.svg" alt="traject">
          </div>
        </div>
      </div>
    </section>

    <section id="footer">
      <div class="container-fluid">
        <div class="row">
          <p>
            <a href="https://twitter.com/Traject_NZ"><i class="fa fa-twitter-square fa-2x"></i></a>
            <a href="https://www.linkedin.com/company/traject-new-zealand"><i class="fa fa-linkedin-square fa-2x"></i></a>
          </p>
        </div>
      </div>
    </section>
    <%= google_analytics_universal_tag %>
  </body>
  <%= javascript_include_tag  "all" %>

</html>
