---
pageable: true
per_page: 3
---

<div class="container-fluid">
  <div class="row heading">
    <h2>Articles</h2>
    <div class="underline"></div>
  </div>
  <div class="row blognav">
    <div class="col-md-2 left">
      <% if prev_page %>
          <p><%= link_to '<i class="fa fa-chevron-left"></i>', prev_page, class: 'prev-page' %></p>
      <% else %>
          <p><i class="fa fa-chevron-left"></i></p>
        <% end %>
    </div>
    <div class="col-md-8">
      <% page_articles.each_with_index do |article, i| %>
        <h3><%= link_to article.title, article %> <span> - <%= article.date.strftime('%b %e') %></span></h3>
        <!-- use article.summary(250) if you have Nokogiri available to show just
             the first 250 characters -->
        <%= article.summary %> <span>...</span>
        <a href="<%= article.url %>">Read more</a>
      <% end %>
    </div>
    <div class="col-md-2 right">
      <% if paginate %>
        <% if next_page %>
          <p><%= link_to '<i class="fa fa-chevron-right"></i>', next_page, class: 'next-page' %></p>
        <% else %>
          <P><i class="fa fa-chevron-right"></i></P>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row page">
    <% if paginate && num_pages > 1 %>
      <p>Page <%= page_number %> of <%= num_pages %></p>
    <% end %>
  </div>
</div>